  <div class="centered-container">
    <div class="rounded-container">
      <form>
        <div class="mb-3 text-white">
          <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-white">Trucoteca nunca compartirá tus datos con nadie más.</div>
        </div>
        <div class="mb-3 text-white">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>