<div class="container-fluid" id="Home">
    <!-- Row 1 -->
    <div class="row row-height">
        <!-- Columna 1 (Col-7) -->
        <div class="col-md-7 position-relative">
            <!-- Contenedor de la imagen con overlay de texto -->
            <img src="images/Final-Fantasy-9-Remake-01.webp" class="custom-image img-fluid" alt="Imagen 1">
            <div class="overlay"></div>
            <div class="overlay-text">
                <h1 class="titulo-principal"><a href="/lectura">Final Fantasy IX tendrá su ansiado remake</a></h1>
                <p class="bajada-principal">Square anunció oficialmente la adaptación del mítico RPG de PSone a los
                    tiempos modernos</p>
            </div>
        </div>
        <!-- Columna 2 (Col-5) -->
        <div class="col-md-5 position-relative">
            <!-- Contenedor de la imagen con overlay de texto -->
            <img src="images/commandos-origins-20231051913091_1.jpg" class="custom-image img-fluid" alt="Imagen 2">
            <div class="overlay"></div>
            <div class="overlay-text">
                <h2 class="titulo-secundario"><a href="/lectura">El nuevo Commandos tiene fecha de lanzamiento</a></h2>
                <p class="bajada-secundario">La clásica saga de juegos RTS estará próximamente disponible en Steam</p>
            </div>
        </div>
    </div>
</div>
<!-- Separación de 30px -->
<div class="my-4"></div>
<!-- Row 2 -->
<div class="row">
    <div class="col-12 text-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/PSONE.webp" class="d-block w-100 custom-image" alt="...">
                    <div class="overlay"></div>
                    <div class="carousel-overlay-text text-center">
                        <h2 class="carousel-titulo">La PlayStation es la mejor consola de la historia</h2>
                        <p>Te contamos por qué en la siguiente nota</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/SEGA.jpg" class="d-block w-100 custom-image" alt="...">
                    <div class="overlay"></div>
                    <div class="carousel-overlay-text text-center">
                        <h2 class="carousel-titulo">Mentira, la mejor es la SEGA Genesis</h2>
                        <p>Te contamos por qué en la siguiente nota</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/SuperNintendo.jpg" class="d-block w-100 custom-image" alt="...">
                    <div class="overlay"></div>
                    <div class="carousel-overlay-text text-center">
                        <h2 class="carousel-titulo">En realidad, fue la SuperNintendo pero era muy cara</h2>
                        <p>Te contamos por qué en la siguiente nota</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
</div>
<div class="my-4"></div>

<!-- Row 3 -->
<h2 class="encabezado-seccion text-light text-center" id="Noticias"><a href="/noticias">NOTICIAS</a></h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card bg-purple text-white h-100">
            <img src="images/Metal Slug.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Develan la identidad del prisionero de Metal Slug</h5>
                <p class="card-text">Un grupo de investigadores de Interpol encontró evidencia que confirma quién está
                    detrás de la barba pixelada.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-purple text-white h-100">
            <img src="images/warcraft-iii-reforged-1854759.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Warcraft III no estaría basado en hechos reales</h5>
                <p class="card-text">Así lo indica un reciente estudio científico, pero a nosotros no nos engañan.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-purple text-white h-100">
            <img src="images/SnowBros.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Se separan los muñecos del Snow Bros</h5>
                <p class="card-text">Luego de más de 30 años congelando bichos, deciden tomar rumbos separados tras
                    escandalosa discusión.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-purple text-white h-100">
            <img src="images/arkanoid-feature-800x450.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arkanoid se renueva y llega a la realidad virtual</h5>
                <p class="card-text">La nueva entrega del videojuego llega con cobertura médica y un cupón de descuento
                    para reposición de vidriería.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-purple text-white h-100">
            <img src="images/Roberto Carlos.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Roberto Carlos, es el mejor de toda de la historia</h5>
                <p class="card-text">Ni Messi, ni Cristiano, el lateral izquierdo de la PSone es el más temible
                    futbolista de todos los tiempos.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-purple text-white h-100">
            <img src="images/Simcity3000Screenshot.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Estudio lo confirma: Jugar SimCity 3000 te hace mejor persona</h5>
                <p class="card-text">Unos mates, esa banda sonora y a diseñar una metrópolis, placeres que no morirán
                    jamás.</p>
            </div>
        </div>
    </div>
</div>
<div class="my-4"></div>

<!-- Row 4 TRUCOS -->
<h2 class="encabezado-seccion text-light text-center" id="Noticias"><a href="/admin/login">TRUCOS</a></h2>
<div class="row">

    {{#each trucos}}
    <div class="col-md-2 mb-4">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{juego}}</h5>
                <h6 class="card-text mb-2">{{usuario}}</h6>
                <p class="card-text">{{truco}}</p>
                <a href="/admin/login" class="card-link" style="font-weight: bold;">Agregá el tuyo</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="my-4"></div>

<!-- Row 4 -->
<h2 class="encabezado-seccion text-light text-center" id="Noticias"><a href="/nosotros">NOSOTROS</a></h2>
<form style="background-color: #611e60" action="/" method="post">
    <div class="mb-3 text-white" style="width: 30vw;">
        <h2 class="text-white" id="Suscribite">Suscribite a nuestro newsletter</h2>
        <label for="exampleInputEmail1" class="form-label text-white">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <div id="emailHelp" class="form-text text-white">Los datos suministrados a este sitio no serán compartidos con
            nadie más.</div>
    </div>
    <div class="mb-3 text-white" style="width: 30vw;">
        <label for="InputName" class="form-label text-white">Nombre</label>
        <input type="name" class="form-control" id="InputName" name="nombre">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div class="my-4"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>