<body>
  <div class="container-fluid">
    <div class="mb-4"></div>
    <h3 class="text-white">EL JUEGO DEL AÑO</h3>
    <hr class="bg-white">
    <div class="row">
      <div class="col-12 img-container">
        <img src="/images/Final-Fantasy-9-Remake-01.webp" alt="Imagen de la noticia" class="img-fluid">
      </div>
      <div class="col-12 text-container text-white">
        <h2 class="titulo-principal-lectura">Final Fantasy IX tendrá su ansiado remake</h2>
        <p class="bajada-principal-lectura">Square anunció oficialmente la adaptación del mítico RPG de PSone a los
          tiempos modernos</p>
        <hr class="bg-white">
        <div class="col-md-8 text-container text-white text-justify">
          <p class="bajada-secundaria">Suspendisse potenti. Suspendisse at nulla vitae lacus aliquet hendrerit et eu
            ligula. Nam id magna felis. Aenean viverra, est id laoreet congue, justo est consequat risus, a cursus justo
            enim nec lorem. Fusce ut quam augue. Aenean sit amet gravida libero. Proin lacinia lacus in tellus
            hendrerit, non posuere purus sollicitudin. Nam dignissim vel risus ut aliquam. Integer ac sagittis erat.
            Aliquam non augue at augue dapibus dapibus ac sed risus.</p>
          <p class="bajada-secundaria">Donec scelerisque lectus ut risus feugiat, a facilisis magna dictum. Vestibulum
            condimentum tortor ac mi ullamcorper, non tincidunt tortor lacinia. Mauris tincidunt feugiat magna, in
            scelerisque lorem bibendum vel. Proin fermentum suscipit tortor, non tempus tortor laoreet id. Integer
            aliquet felis nec nunc consectetur, et aliquam sapien fermentum. Aliquam erat volutpat. Fusce bibendum odio
            non fermentum egestas. Cras ullamcorper augue vel dui condimentum, in faucibus urna placerat. Cras vehicula
            accumsan ipsum, sed viverra mi suscipit quis. Nullam vel turpis sem.</p>
          <div class="row">
            <div class="col-md-4 img-container">
              <img src="/images/Final-Fantasy-9-Remake-01.webp" alt="Imagen de la noticia" class="img-fluid">
            </div>
          </div>
          <div class="col">
            <p class="bajada-secundaria">Donec scelerisque lectus ut risus feugiat, a facilisis magna dictum. Vestibulum
              condimentum tortor ac mi ullamcorper, non tincidunt tortor lacinia. Mauris tincidunt feugiat magna, in
              scelerisque lorem bibendum vel. Proin fermentum suscipit tortor, non tempus tortor laoreet id. Integer
              aliquet felis nec nunc consectetur, et aliquam sapien fermentum. Aliquam erat volutpat. Fusce bibendum
              odio non fermentum egestas. Cras ullamcorper augue vel dui condimentum, in faucibus urna placerat. Cras
              vehicula accumsan ipsum, sed viverra mi suscipit quis. Nullam vel turpis sem.</p>
            <p class="bajada-secundaria">Donec scelerisque lectus ut risus feugiat, a facilisis magna dictum. Vestibulum
              condimentum tortor ac mi ullamcorper, non tincidunt tortor lacinia. Mauris tincidunt feugiat magna, in
              scelerisque lorem bibendum vel. Proin fermentum suscipit tortor, non tempus tortor laoreet id. Integer
              aliquet felis nec nunc consectetur, et aliquam sapien fermentum. Aliquam erat volutpat. Fusce bibendum
              odio non fermentum egestas. Cras ullamcorper augue vel dui condimentum, in faucibus urna placerat. Cras
              vehicula accumsan ipsum, sed viverra mi suscipit quis. Nullam vel turpis sem.</p>
            <p class="bajada-secundaria">Donec scelerisque lectus ut risus feugiat, a facilisis magna dictum. Vestibulum
              condimentum tortor ac mi ullamcorper, non tincidunt tortor lacinia. Mauris tincidunt feugiat magna, in
              scelerisque lorem bibendum vel. Proin fermentum suscipit tortor, non tempus tortor laoreet id. Integer
              aliquet felis nec nunc consectetur, et aliquam sapien fermentum. Aliquam erat volutpat. Fusce bibendum
              odio non fermentum egestas. Cras ullamcorper augue vel dui condimentum, in faucibus urna placerat. Cras
              vehicula accumsan ipsum, sed viverra mi suscipit quis. Nullam vel turpis sem.</p>
            <p class="bajada-secundaria">Donec scelerisque lectus ut risus feugiat, a facilisis magna dictum. Vestibulum
              condimentum tortor ac mi ullamcorper, non tincidunt tortor lacinia. Mauris tincidunt feugiat magna, in
              scelerisque lorem bibendum vel. Proin fermentum suscipit tortor, non tempus tortor laoreet id. Integer
              aliquet felis nec nunc consectetur, et aliquam sapien fermentum. Aliquam erat volutpat. Fusce bibendum
              odio non fermentum egestas. Cras ullamcorper augue vel dui condimentum, in faucibus urna placerat. Cras
              vehicula accumsan ipsum, sed viverra mi suscipit quis. Nullam vel turpis sem.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>